@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');
.welcome {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    text-decoration: underline;
    text-align: center;
    margin-top: 10vh ;
    color: white;
}
.head-hover:hover {
    color: green;
}

.setting-hover:hover {
    color: green;
}
.generate-hover:hover {
    background-color: rgb(44, 70, 5) !important;
}
.copy-hover:hover {
    background-color: rgb(44, 70, 5) !important;
}
body {
    background: url(https://images.pexels.com/photos/754082/pexels-photo-754082.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
/* body of buttons */
.buttonBox {
    background-color:rgba(0, 0, 0, 0.8);
    padding: 1px;
    width: 60%;
    height: 470px;
    margin: auto;
    box-shadow: 0px 2px 10px rgba(55, 455, 155, 0.5);
}
.mainReason {
    text-align: center;
    margin: auto;
    padding-top: 5px;
    margin-top: 10px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
/* main button style */

.result-container {
    box-shadow: 0px 0px 9px rgba(248, 248, 248);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 50px;
    width: 100%;
}
.result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
    font-family: 'Josefin Sans', sans-serif;
}
.result-container .btn {
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
}
.btn {
    border: 1px solid white !important;
    color: #fff !important;
    cursor: grab!important;
    font-size: 16px;
    padding: 2px 1px 1px 1px!important;
    background-color: green !important;
    font-family: 'Josefin Sans', sans-serif;
}
.btn-large {
    display: block;
    width: 100%;
}
.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

@media screen and (max-width: 400px) {
        .result-container {
            font-size: 14px;
        }
}